/* .core-features__box {
  border: 1px solid rgb(26, 26, 26);
  padding: 30px 30px 30px;
  position: relative;
}
.core-features__box::before {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 1px;
  height: 0%;
  content: "";
  background: #F88821;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.core-features__box::after {
  position: absolute;
  bottom: -1px;
  right: 0px;
  width: 0%;
  height: 1px;
  content: "";
  background: #F88821;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.core-features__box span.one {
  position: absolute;
  top: -1px;
  left: 0px;
  height: 1px;
  width: 0%;
  background: #F88821;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.core-features__box span.two {
  position: absolute;
  bottom: 0px;
  right: -1px;
  height: 0%;
  width: 1px;
  background: #F88821;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.core-features__box .icon {
  margin-right: 20px;
}
.core-features__box .icon img {
  min-width: 40px;
  max-width: 40px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.core-features__box:hover .icon img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.core-features__box:hover::before {
  height: 100%;
}
.core-features__box:hover::after {
  width: 100%;
}
.core-features__box:hover span.one {
  width: 100%;
}
.core-features__box:hover span.two {
  height: 100%;
}

.core-features__box-content a {
  margin-bottom: 10px;
}
.core-features__box-content a h4 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.core-features__box-content a h4:hover {
  color: #F88821;
}

.core-features-two__box .icon {
  margin-right: 20px;
}
.core-features-two__box .icon img {
  min-width: 40px;
  max-width: 40px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.core-features-two__box .more-info-btn {
  font-size: 16px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: -5px;
}
.core-features-two__box .more-info-btn i {
  -webkit-transform: translate(5px, 3px);
          transform: translate(5px, 3px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.core-features-two__box .more-info-btn:hover {
  color: #F88821;
}
.core-features-two__box .more-info-btn:hover i {
  -webkit-transform: translate(10px, 3px);
          transform: translate(10px, 3px);
}
.core-features-two__box:hover .icon img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.core-features-two__box a {
  margin-bottom: 10px;
}
.core-features-two__box a h4 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.core-features-two__box a h4:hover {
  color: #F88821;
} */